/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}
h1{
	padding: 10%;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

main img{
    max-width: 100%;
    max-height:auto;
}

header{
    display: flex;
    padding: 1rem;
    justify-content: space-between
}

header img{
    max-width: 12%;
    max-height: 50%;
}

a{
	display: block;
	margin-bottom: 10px;
}

