@font-face {
    font-family: "sodo-reg";
    src: url("../fonts/sodo-regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "sodo-bold";
    src: url("../fonts/sodo-bold.woff");
    font-weight: 700;
}

/* Geholpen door Sanne https://www.azfonts.net/fonts/sodo-sans/regular-307605/download */



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text: #111;
    --secondarycolor-background: #00754a;
    --background-color: #ffff;
    --color-background: #edebe9;
    --color-8:#006241; 
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "sodo-reg", sans-serif;
}


h1,
h2,
h3 {
    font-family: "sodo-bold", sans-serif;
}



/********************/
/* HEADER NAV */
/********************/

header {
    position: relative;
    height: 80px;
    padding: 1em;
    border-bottom: 1px solid black;
    display: flex;
    padding-bottom: 3em;
    padding-top: 3em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

header ul {
    display: flex;
    align-items: center;
    gap: 1em;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

header:nth-of-type(1) a {
    font-size: medium;
    font-family: sodo-bold, sans-serif;
}


header nav {
    width: 100%;
}


header ul:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: small;
}


header ul li:nth-of-type(8) {
    display: flex;
    align-items: center;

}

header ul li:nth-of-type(8) a {
    display: flex;
    gap: 0.5em;
    justify-content: center;
}


header li:nth-of-type(1) {
    flex: 1;
}

header li:nth-of-type(1) img {
    max-width: 3em;
    height: auto;
    margin-left: 1em;
}

header li:nth-of-type(2) {
    margin-left: auto;
    text-align: right;
}

header li:nth-of-type(2) img {
    max-width: 3em;
    height: auto;
    margin-right: 1em;
    position: relative;
    left: 96em;
    top: 0.1em;
}

header li:nth-of-type(8) {
    padding-right: 1em;
    padding-left: 10em;
}

header li:nth-of-type(8) img {
    max-width: 2em;
    height: auto;
}

header li:nth-of-type(8) p {
    font-size: medium;
    font-family: sodo-regular, sans-serif;
}

header li:nth-of-type(9) {
    display: flex;
    align-items: center;
    gap: 0.5em;

}

header li:nth-of-type(9) img {
    max-width: 1em;
    height: auto;
}

header li:nth-of-type(9) p {
    margin: 0;
    font-size: 0.9em;
}




header a:nth-of-type(1) {
    text-decoration: none;
    color: black;
    display: flex;

}

header a:nth-of-type(1) img {
    max-width: 3em;
}


header details summary:nth-of-type(1) {
    display: flex;
    gap: 1em;
    cursor: pointer;
    font-size: medium;
    font-family: sodo-bold, sans-serif;
}



header details:nth-of-type(1) a {
    display: block;
    background-color: white;
    padding: 1em;
    font-family: sodo-regular, sans-serif;
    font-size: medium;


}

header details:nth-of-type(1) a:nth-of-type(2) {
    text-decoration: none;
    color: #111;
}


header details:nth-of-type(2) a {
    padding-right: 3em;
    background-color: white;
    font-family: sodo-regular, sans-serif;
    padding: 1.5em;

}

header details:nth-of-type(2) {
    margin-right: 5em;


}

header details:nth-of-type(2) a:nth-of-type(2) {
    text-decoration: none;
    color: #111;
}

header details:nth-of-type(2) img {
    max-width: 3em;
}











/********************/
/* FOOTER */
/********************/
footer {
    margin-top: 3em;
    background-color: #1e3932;
    padding: 1em;
    color: white;
    position: relative;  
    margin-top: 2em;
}
footer:first-of-type(1)a{
    
    display: grid;
    height: auto;
    position: relative;
    right: 4em;
    padding: 0.2em;
    margin-left: 1em;
    max-width: 40%;
    margin-top: -1em;
    margin-right: -1em;

}

/*Social media icons*/
footer ul:first-of-type {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 2em;
    margin-left: -1em;
    margin: 0;
    gap: 0.09em;
}

footer ul:nth-of-type(1) img {
    max-width: 2em;
    height: auto;
    margin-bottom: -1em;
}

footer:nth-of-type(1) img {
    display: grid;
    height: auto;
    position: relative;
    right: 4em;
    padding: 0.2em;
    margin-left: 1em;
    max-width: 40%;
    margin-top: -1em;
    margin-right: -1em;
}

footer:nth-of-type(1) a {
    display: block;
    padding: 0.3em;
    color: #9c9c9c;
    font-size: small;
    text-decoration: none;
    margin-bottom: 1em;
}


footer ul:last-of-type {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 0.5em;
    margin: 0;
    padding: 0;
}

footer ul:last-of-type img {
    max-width: 4em;  
    height: auto;
    
}

footer details:nth-of-type(1) {
    margin-top: -3em;
}

footer details:nth-of-type(1) ul {
    padding-left: 0;
    display: block;
}

footer details:nth-of-type(2) ul {
    padding-left: 0;
    display: block;
}


footer details:nth-of-type(3) ul {
    padding-left: 0;
    display: block;
}

footer details:nth-of-type(3) {
    border-bottom: 0.01em solid #9c9c9c;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

/*  Pijltje Styling*/
footer summary {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

footer summary::after {
    content: '';
    width: 18px;
    height: 10px;
    background: url('https://uploads.sitepoint.com/wp-content/uploads/2023/10/1697699669arrow.svg') no-repeat;
    /* i.o.m Jason & Jesse deze url in de css gelaten*/
    background-size: cover;
    margin-left: auto;
    transition: 0.2s;
    filter: invert(1);
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/invert*/
}

footer details[open]>summary::after {
    transform: rotate(180deg);
}

footer summary::-webkit-details-marker {
    display: none;
}

footer summary:nth-of-type() header a:hover {
    color: #00704A;
}

/* Geholpen door sybren https://codepen.io/SitePoint/pen/gOqYGPZ */






/*@media(min-width: 400px){
    body{
        background-color: red;
        display: none;
    }
}
@media(min-width: 600px){
    body{
        background-color: green;
        display: block;
    }
}*/