/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}

h1 {
    padding: 10%;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text: #111;
    --color-background: #eee;
    --secondarycolor-background: #006241;
    --background-color: #ffff;
}


/*Groene Background & H&P Styling*/
article:nth-of-type(1) {
    background-color: var(--secondarycolor-background);
}

article:nth-of-type(1) h1{
    color: white;
}

article:nth-of-type(1) p{
    color: white;
}

article:nth-of-type(2) {
    background-color: var(--secondarycolor-background);
}

article:nth-of-type(2) h2{
color: white;
}

article:nth-of-type(2) h3{
    color: white;
}

article:nth-of-type(2) p{
    color: white;
}


article:nth-of-type(4) {
    background-color: var(--secondarycolor-background);
}

article:nth-of-type(4) h2{
    color: white;
}
article:nth-of-type(4) p{
    color:white;
}

article:nth-of-type(6) {
    background-color: var(--secondarycolor-background);
}
article:nth-of-type(6) h2{
color: white;
}
article:nth-of-type(6) p{
color: white;
}

article:nth-of-type(8) {
    background-color: var(--secondarycolor-background);
}

article:nth-of-type(8) h2{
    color: white;
}
article:nth-of-type(8) p{
    color: white;
}


/*Buttons*/
article:nth-of-type(1) a {
    background-color: var(--background-color);
    color: black;
}

article:nth-of-type(2) a {
    background-color: var(--background-color);
    color: black;
}

article:nth-of-type(3) a {
    background-color: var(--secondarycolor-background);
    color: white;
}

article:nth-of-type(4) a {
    background-color: var(--background-color);
    color: black;
}

article:nth-of-type(5) a {
    background-color: var(--secondarycolor-background);
    color:white;
}
article:nth-of-type(6) a {
    background-color: var(--background-color);
    color: black;
}
article:nth-of-type(7) a {
    background-color: var(--secondarycolor-background);
    color: white;
}
article:nth-of-type(8) a {
    background-color: var(--background-color);
    color: black;
    
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

@font-face {
    font-family: "sodo";
    src: url(../fonts/sodo-sans-8.woff2);
}


h1,
h2,
h3 {
    font-family: "sodo", sans-serif;
}

img {
    max-width: 100%;
    max-height: auto;
}

/*Header*/
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 0;
    margin:0;
}

nav a {
    text-decoration: none; 
    color: black; 
    font-size: 1em; 
    font-weight: bold; 
}

header a:hover {
    color: #00704A; 
}

/*Buttons*/
main a {
    display: block;
    margin-bottom: 20px;
    background-color: #006241;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    padding: 0.9em;
    border-radius:3em;
    cursor: pointer;
}


/* Nav Pijltje Styling*/
summary {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

summary::after {
    content: '';
    width: 18px;
    height: 10px;
    background: url('https://uploads.sitepoint.com/wp-content/uploads/2023/10/1697699669arrow.svg') no-repeat;
    background-size: cover;
    margin-left: .75em;
    transition: 0.2s;
}

details[open]>summary::after {
    transform: rotate(180deg);
}

summary::-webkit-details-marker {
    display: none;
}

/* Geholpen door sybren https://codepen.io/SitePoint/pen/gOqYGPZ */

nav img {
    width: 20%;
    height: 50%;
}


/*article{
    display: grid;
    gap:10px;
    padding-bottom:
    padding-left:auto; 
    padding-right:auto; 
}
*/


/*Footer*/
footer{
    background-color: #006241;
    color: white;
}

footer a{
    display: block;
    padding: 0.4em;
    color: white;
    text-decoration: none;
}